@font-face {
  font-family: "Allison";
  src: url("../fonts/Allison/Allison-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Pacifico";
  src: url("../fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merienda";
  src: url("../fonts/Merienda/Merienda-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  }

body {
  margin: 0;
  background-image: url('../img/fondoG.png');
  overflow: hidden;
  display: flex;
  font-family: Poppins;
}

div.container {
  width: 1300px;
  height: 80vh;
  align-items: center;
  margin: auto;
  /* border: 1px solid black; */
}

section {
  position: relative;
  height: 45%;
  width: 300px;
  margin-left: 100px;
  margin-bottom: 4.5%;
  float: left;
  box-shadow: 0px 0px 5px black;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 55px;
  overflow: hidden;
  background-color: hsl(0, 0%, 60%);
}

section.second{
  background-color: hsl(0, 0%, 20%);
  color: white;
}

section .titulo {
  width: 100%;
  background-color: hsl(0, 0%, 100%);
  overflow: auto;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  font-size: 20px;
  box-shadow: 0px 5px 5px black;
  border-bottom-right-radius: 25px;
}

section .titulo.second {
  background-color: hsl(0, 0%, 10%);
}

section .titulo h3{
  margin: 0px;
  text-shadow: 1px 1px 2px grey;
  display: inline;
}

section .titulo i{
    color: blue;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
  }
